<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toxic-repos filter (Date Upload {{type_package}} {{package}})</title>
</head>
<body>
    <h1>Date Upload {{type_package}} Package for {{package}}</h1>
    <table>
        <th>Package</th>
        <th>Date</th>
        {% for package in valid_package %}
            <tr>
                <td>
                    {{package}}
                </td>
                <td>
                    {{valid_package[package]}}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>